header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white; 
}

header > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
/*  background: darkgray; */
  /*debugging*/

}

header > section > a {
  margin: 0.5rem 0;
  padding: 0 1.5rem;
  font-size: 1.2rem;
/*    background: lime; */
  /*debugging*/
}


header > img {
  margin: 1rem 2rem;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem 0 0;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0 0 0 7.5rem;
}
@media screen and (max-width: 768px) {

  .nav-section {
    display: flex;
    justify-content: flex-end;
    padding: 0rem;
  }

  .nav-link {
    font-size: 14px;
    padding: 0 0.75rem;
  }

  .logo {
    height: 2.0rem;
    width: 2.0rem;
    padding: 0rem;
  }
}