header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white; 
}

header > img {
  margin: 1rem 2rem;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem 0 0;
}

.logo {
  height: 3.0rem;
  width: 3.0rem;
  padding: 0 0 0 7.5rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0 0.75rem;
}

@media screen and (min-width: 428px) and (max-width: 768px) {

  .nav-section {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 0rem;
  }

  .nav-link {
    font-size: 1rem;
    padding: 0 0 0 0rem;
  }

  .logo {
    height: 1.0rem;
    width: 1.0rem;
    padding: 0 0 0 0rem;
  }
}

@media screen and (max-width: 428px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-section {
    display: flex;
    justify-content: center;
    padding: 0rem;
  }
  
  .nav-link {
    font-size: 0.5rem;
    padding: 0.25rem 0;
    text-align: center;
  }
  
  .logo {
    height: 2.0rem;
    width: 2.0rem;
    padding: 0rem;
  }
}