hr {
  margin:0rem;
  height: 1px;
  color: #E6E6E6;
  background-color: #E6E6E6;
  border: none;
}

h1, h3 {
  font-weight: normal; 
  color: #1A2834;
}

h3 {
  margin: 1.2rem 0 0.5rem;
}

.ProjectForm {
  margin:0.5rem 10rem;
  display: flex;
  flex-direction: column;
}

.MuiTextField-root, #simple-select{
  background: white;
}

#multiple-chip{
  background: white;
}

.Forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.FormLeft, .FormRight {
  display: flex;
  flex-direction: column;
  width:47%;
}

@media (max-width: 768px) {
  .header-container,
  .homebody-container {
    width: 100%;
  }
  
  .main-container {
    margin: 0;
    padding: 0;
  }

  .ProjectForm {
    margin: 0.5rem 1rem;
  }

  .Forms {
    flex-direction: column;
  }

  .FormLeft, .FormRight {
    width: 100%;
    margin: auto;
  }
}
