.IndividualProjectPage {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.IndividualBody {
flex: 1;
}

.projectDetailSection {
  margin: auto;
  padding: 0 7rem;
  max-width: 130rem;
  line-height: 90%;
  position: relative;
}
.SimilarProject {
  margin: auto;
  padding: 4rem 1rem 8rem 1rem;
  max-width: 130rem;
  font-size: 2rem; 
  line-height: 90%;
  position: relative;
}

.projectSections {
  display: flex;
  flex-direction: row;
}

.projectSection {
  width: 50%;
}

.projectSlider {
  width: 50%;
  margin: 6rem 0 1rem 1rem;
}

.iconlogo {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 1280px) {

  .projectSections {
    flex-direction: column;
  }
  .projectSection {
    width: 100%;
    margin: auto;
  }
  .projectDetailSection {
    margin: auto;
    padding: 0 1rem;
    line-height: 90%;
    position: relative;
  }
  .SimilarProject {
    margin: auto;
    padding: 4rem 0rem 8rem 0rem;
    max-width: 130rem;
    font-size: 1rem; 
    line-height: 90%;
    position: relative;
  }
  .projectSlider {
    width: 100%;
    margin: auto;
  }
  .iconlogo {
    font-size: 2rem;
  }
}



